

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}


img{
  height: 100%;
  width: 100%;
}

/*header*/

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  opacity: 0.9;
}

.header_logo{
  height: 100%;
  width: 20%;
  padding: 10px;
}

.header_icono{
  height: 100%;
  width: 20%;
  border: 0;
  background-color: transparent;
  padding: 5px;
}

.icono{
  font-size: 3rem;
}

.header_nav{
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
}

.header_nav--active{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.header_nav--disabled{
  display: none;
}

.header_nav ul{
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.header_nav li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
}

.nav_link{
  color: #2E2E2E;
  text-decoration: none;
  font-size: 2.5rem;
}

.banner{
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/*main*/

section{
  background-image: url(../img/fondo.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  margin-bottom: 40px;
}

h1{
  color: white;
  padding: 60px;
}

p{
  color: white;
  font-size: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

h2{
  color: white;
}

ol {
  font-size: 1.5rem;
  color: white;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 40px;
}

.container_carousel{
  padding-left: 15%;
  padding-right: 15%;
}

.contact_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 15%;
}

.contact_item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_image{
  font-size: 10rem;
  color: white;
}

h3{
  color: white;
}

/*footer*/

footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: black;
}

h4{
  color: white;
}

.footer__logo{
  height: 100%;
  width: 20%;
  padding: 60px;
  border-radius: 50%;
}

@media (min-width: 1000px) {

  header{
    height: 10vh;
  }

  .header_icono{
    display: none;
    }

  .header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 100%;
  }

  .header_nav ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .nav_link{
    font-size: 1.5rem;
  }

  .header_logo{
    height: 100%;
    width: 5%;
    padding: 5px;
  }

}
